input {
    width: 100%;
    font-size: 12pt;
    font-family: 'Libre Franklin', sans-serif;
    margin: 15px;
}

.input-group {
    display: flex;
    justify-content: center;
}

.input-optional {
    width: 100%;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.4s;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-radius: 30%;
    padding: 6px;
}
  
  /* CHECKED STYLES */
[type=radio]:checked + img {
    border-bottom: 5px solid #444;
    border-radius: 50%;
}

[name=class] + img {
    width: 64px;
}

[name=rarity] + img {
    width: 37px;
}

[name=type] + img {
    width: 75px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Libre Franklin', sans-serif;
}

.tooltip:hover .tooltiptext {
    transition-delay: 0.3s;
    visibility: visible;
    pointer-events: none;
}

.text label {
    margin: 15px 0;
    font-family: Belwe;
    font-size: 18pt;
}

#image-select {
    padding: 20px;
    width: -webkit-fill-available;
}
#image-zoom {
    margin: 0px;
}
#reset-image {
    background-color: white;
    font-size: 12px;
    font-family: 'Libre Franklin';
    margin: 0 12px;
    color: #444;
    border: 1px solid #444;
    font-weight: bold;
    border-radius: 5px;
}
#reset-image:hover {
    color: #06C;
}
#reset-image p {
    width: max-content;
    margin: 0;
    padding: 6px 8px;
}
#zoom-message {
    margin: 0px 5px;
    margin-top: 0.25em;
    font-family: Belwe;
    width: max-content;
}
#zoom-percent {
    color: gray;
}

#inputs {
    width: 50%;
    padding: 15px;
    border: 1px solid #444;
    margin: 5px;
    height: min-content;
    min-width: 400px;
}

.input-label {
    width: auto;
    height: 32px;
}

@font-face {
    font-family: Belwe;
    src: url("/assets/fonts/Belwe-Bold.woff");
}

#p5_loading {
    font-family: 'Belwe';
}

#quill-container {
    display: flex;
}
.ql-formats {
    width: min-content;
    margin-right: 0px !important;
}
.ql-toolbar {
    border-right: none !important;
}
.ql-container {
    border: 1px solid #ccc !important;
    width: -webkit-fill-available;
    height: auto;
}
.ql-editor {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12pt;
}